* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-left: 165px;
  padding-top: 55px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 58px;
  align-items: center;
}

.tmbox {
  width: 40px;
  height: 40px;
  background-color: rgba(241, 103, 24, 1);
  padding-left: 5px;
  padding-top: 5px;
}

.order_1 {
  width: 175px;
  height: 58px;
  border-radius: 8px;
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgba(22, 37, 66, 1);
  background-color: rgba(232, 239, 242, 1);
  border: none;
  cursor: Pointer;
}

.order_2 {
  width: 175px;
  height: 58px;
  opacity: 1;
  border-radius: 8px;
  background-color: #f16718;
  color: white;
  border: none;
  cursor: pointer;
}

.box_1 {
  display: flex;
  margin-top: 83px;
  align-items: center;
  width: 1110px;
  justify-content: space-between;
}

.section_start {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: 312px;
  justify-content: center;
  gap: 15px;
}

.first_header {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgba(22, 37, 66, 1);
}

.box1_text {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7b8bad;
}

.box1_ending {
  display: flex;
  align-items: center;
  padding-top: 15px;
  gap: 30px;
}

.sub_button {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #7b8bad;
}

.box_2 {
  display: flex;
  width: 1110px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.images_start {
  display: flex;
  justify-content: space-between;
  width: 730px;
}

.box_2_ending {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 265px;
  gap: 27px;
}

.second_header {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #162542;
}

.box_2_ending {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7b8bad;
}

.box_3 {
  display: flex;
  width: 1110px;
  margin-top: 168px;
  justify-content: space-between;
}

.box_3 > div {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 323px;
  justify-content: space-between;
}

.icon_box {
  width: 65px;
  height: 65px;
  border-radius: 16px;
  background-color: #f16718;
}

.box_3 > div > h2 {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #162542;
}

.box_3 > div > p {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7b8bad;
}

footer {
  width: 1110px;
  margin-top: 128px;
  margin-bottom: 39px;
  text-align: center;
}

.signature {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7b8bad;
}

span {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
}

.pc {
  padding-left: 20px;
  padding-top: 22.45px;
}

.tooth {
  padding-left: 23.72px;
  padding-top: 19px;
}

.battery {
  padding-left: 16px;
  padding-top: 23.33px;
}

.light {
  padding-left: 16px;
  padding-top: 16px;
}

.order_1:hover {
  background-color: #162542;
  color: white;
}

.order_2:hover {
  background-color: #ff9b62;
}
