* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  height: 58px;
  align-items: center;
  margin-top: 55px;
  max-width: 1110px;
  width: 100%;
}

.tmbox {
  width: 40px;
  height: 40px;
  background-color: rgba(241, 103, 24, 1);
  padding-left: 5px;
  padding-top: 5px;
}

.order_1 {
  width: 175px;
  height: 58px;
  border-radius: 8px;
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgba(22, 37, 66, 1);
  background-color: rgba(232, 239, 242, 1);
  border: none;
  cursor: Pointer;
}

.order_2 {
  width: 175px;
  height: 58px;
  opacity: 1;
  border-radius: 8px;
  background-color: #f16718;
  color: white;
  border: none;
  cursor: pointer;
}

.box_1 {
  display: flex;
  margin-top: 83px;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.graybox {
  width: 180px;
  height: 240px;
  opacity: 1;
  top: 0px;
  right: -205px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  background-color: rgba(232, 239, 242, 1);
}

.section_start {
  display: flex;
  flex-direction: column;
  width: 445px;
  height: 312px;
  justify-content: center;
  gap: 15px;
}

.first_header {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgba(22, 37, 66, 1);
}

.box1_text {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7b8bad;
}

.box1_ending {
  display: flex;
  align-items: center;
  padding-top: 15px;
  gap: 30px;
}

.keyboard {
  max-width: 540px;
  height: 480px;
}

.sub_button {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #7b8bad;
}

.box_2 {
  display: flex;
  max-width: 1110px;
  width: 100%;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.graybox_2 {
  width: 255px;
  height: 236px;
  opacity: 1;
  top: 245px;
  left: -280px;
  border-radius: 20px;
  background-color: rgba(232, 239, 242, 1);
  position: absolute;
}

.images_start {
  display: flex;
  justify-content: space-between;
  width: 730px;
}

.box_2_ending {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 265px;
  gap: 27px;
}

.second_header {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #162542;
}

.box_2_ending {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7b8bad;
}

.box_3 {
  display: flex;
  width: 1110px;
  margin-top: 168px;
  justify-content: space-between;
}

.box_3 > div {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 323px;
  justify-content: space-between;
}

.icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 16px;
  background-color: #f16718;
}

.box_3 > div > h2 {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #162542;
}

.box_3 > div > p {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7b8bad;
}

footer {
  margin-top: 128px;
  margin-bottom: 39px;
  text-align: center;
}

.signature {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #7b8bad;
}

span {
  font-family: "Bitcount Grid Single", system-ui;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
}

.order_1:hover {
  background-color: #162542;
  color: white;
}

.order_2:hover {
  background-color: #ff9b62;
}

@media (max-width: 1523px) {
  .graybox,
  .graybox_2 {
    display: none;
  }
}

@media (max-width: 1125px) {
  header {
    width: 689px;
  }

  .box {
    display: flex;
    flex-direction: column;
  }

  .box_1 {
    gap: 69px;
    width: 689px;
  }

  .section_start {
    justify-content: space-between;
  }

  .first_header {
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  .box1_text {
    width: 339px;
    height: 78px;
  }

  .keyboard {
    width: 379px;
    height: 425px;
  }

  .box_2 {
    flex-wrap: wrap;
    width: 689px;
  }

  .images_start {
    gap: 30px;
  }

  .orangekey {
    width: 214px;
    height: 320px;
  }

  .orangekey_2 {
    width: 445px;
    height: 320px;
  }

  .box_2_ending {
    display: flex;
    flex-direction: row;
    width: 689px;
    height: 108px;
    margin-top: 72px;
    justify-content: center;
    align-items: center;
  }

  .box_3 {
    display: flex;
    flex-wrap: wrap;
    width: 631px;
    height: 650px;
    gap: 72px;
  }

  footer {
    width: 400px;
    margin-top: 142px;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 327px;
    height: 48px;
  }

  .order_1 {
    width: 150px;
    height: 48px;
  }

  .box_1 {
    display: flex;
    flex-direction: column;
    width: 327px;
  }

  .section_start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 327px;
    height: 286px;
  }

  .box1_text {
    width: 327px;
    height: 78px;
    padding-top: 20px;
  }

  .box1_ending {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-top: 25px;
    padding-top: 80px;
  }

  .order_2 {
    width: 150px;
    height: 48px;
    border-radius: 8px;
  }

  .sub_button {
    width: 150px;
    height: 26px;
    font-family: "Bitcount Grid Single", system-ui;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  .first_header {
    width: 327px;
    height: 96px;
  }

  .keyboard {
    width: 300px;
    height: 331px;
  }

  .images_start {
    width: 350px;
    margin-left: -100px;
  }

  .orangekey {
    width: 129px;
    height: 193px;
  }

  .orangekey_2 {
    width: 218px;
    height: 193px;
  }

  .box_2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 300px;
  }

  .box_2_ending {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 75px;
    width: 300px;
  }

  .second_header {
    width: 255px;
    height: 108px;
  }

  .box_2_text {
    width: 327px;
    height: 104px;
  }

  .box_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 327px;
  }

  .box_3 > div {
    justify-content: center;
    align-items: center;
    gap: 26px;
    width: 327px;
    height: 297px;
    top: 2538px;
  }

  footer {
    width: 335px;
  }

  .signature {
    width: 335px;
    height: 26px; 
  }
    
